doctype html
html(lang="en")
  head
    title= pageTitle
    
  body
    center
      h1 Hello #{name} !
      p Hello world !
      p#abc helllo
      img(src="/images/logo.png")

    //- google scripts
    script(src='https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.3.2/firebase-messaging.js')
    script(src="/js/custom.js",type="text/javascript")